/* body */
body {
    background-image: url('../img/back01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

.box {
    margin: 20px 0 20px;
    padding: 5px 5px;
    background: #fff;
    background: rgba(255,255,255,0.9);
    box-shadow: 5px 5px 5px black;
    border-radius: 3px;
}

@media (min-width: 992px) {
    .box {
        margin: 20px 0 20px;
        padding: 10px 10px;
        background: #fff;
        background: rgba(255,255,255,0.9);
        box-shadow: 5px 5px 5px black;
        border-radius: 3px;
    }
}

section {
    padding-top: 50px;
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
}

.page-header{
    padding: 15px 0 15px;
}

.card {
    width: 18rem;
}

.card-body {
    text-align: center;
} 

.card-deck, p, form, .alert {
    font-family: 'Sansita', sans-serif;
}

 /* logotipo */
.img {
    display: none;
}

.icone {
    display: inline-flexbox;
}

/* .ico > a > i {
    color: darkgray;
} */


@media (min-width: 992px) { 

    .img {
        height: 100px;
        width: auto;
        display: block;
        margin: 0 auto 0 auto;
        padding: 10px 0 10px;
    }

    .brand {
        background-color: rgba(255, 255, 0, 0.973);
    }

    .icone {
        display: none;
    }

}

 /* navbar */
.navbar {
    background-color: rgb(255, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
}

.dropdown-menu {
    background-color: yellow;
    font-size: 1.25rem;
}

.image {
    display: block;
    height: 40px;
}

@media (min-width: 992px) { 
    .image {
        display: none;
    }

    .navbar {
        background-color: rgba(0, 162, 255, 0.829);
        border-radius: 3px;
    }

    .nav-item {
        padding: 0 20px 0 20px;
    }

    .navbar {
        padding: 0 40px 0 40px;
    }

    .dropdown-menu {
        background-color: rgb(0, 217, 255);
        font-size: 1.25rem;
    }

}

/* quem somos */
.imgquem {
    width: 250px; 
    height: 250px;
}
 
p {
    font-size: 1.2rem;
    font-weight: 500;
}

/* contato */
div > p > a {
    font-size: 1rem;
    /* display: none; */
}

i {
    color: initial;
}
